body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-base: 16px;

  /* Colors */
  --color-brown: #a5003f;
  --color-gainsboro: #d9d9d9;

  /* Gaps */
  --gap-21xl: 40px;
  --gap-0: 0px;
  --gap-31xl: 50px;

  /* Paddings */
  --padding-10xs: 3px;
  --padding-6xl: 25px;

  /* Border radiuses */
  --br-6xl: 25px;
}